.img-banner{
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(0,0,0,1)), url(/media/header/bgr-header.jpg); 
    background-size: cover;
    width: 100%;
    height: 100vh;   
}

.bgr-black{
    background-color: rgba(0,0,0,1) !important;
}

.img-logo{
    height: 80px;
}