:root{
    --background-color: rgba(0, 0, 0, 1);
    --button-color-salmon: rgb(246, 72, 53);
    --button-color-yellow: rgba(225, 225, 50, 1);
    --white-text: rgba(255,255,255,1);
    --grey-text: rgb(141, 141, 141,0.8);
    --yellow-text: rgba(225, 225, 50, 1);
    --black-text: rgba(0, 0, 0, 1);
    --margin-menus: 15px;
    --button-font-size: 20px;
    --brush_img_size: 200px;
    --margin-top-banner: 80px;
    font-family: 'Oswald', sans-serif;
}

/* -------- GENERAL CONFIGS -------- */

button{
    color: white;
    font-size: var(--button-font-size);
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: var(--button-color-salmon);
    transition: 0.4s;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 1px red;
    color: var(--yellow-text);
}

/* -------- HEADER -------- */

/* menu */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--background-color);
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo > img{
    width: 150px;
    height: 150px;
}

.social{
    display: flex; 
    justify-content: space-between;
}

.nav_menu ul{
    display: flex; 
    flex-direction: row;
    align-items:center;
    align-items: center;
}

.nav_menu ul li{
    margin: 0 var(--margin-menus);
    list-style: none;
    transition: 0.4s;
}

.nav_menu ul li:hover{
    margin: 0 var(--margin-menus);
    list-style: none;
    transform: scale(1.2);
}


.nav_menu ul li a{
    text-decoration: none;
    color: var(--grey-text);
    transition: 0.4s;
}

.nav_menu ul li a:hover{
    text-decoration: underline;
    text-decoration-color: var(--button-color-yellow);
    text-decoration-thickness: 2px;
    color: var(--white-text);
}

.social > a{
    margin: 0 var(--margin-menus);
}

.social > a > img{
    width: 50px;
    height: 50px;
}

/* -------- CENTRAL BANNER -------- */

/* black banner */

.black_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    padding-bottom: 50px;
    align-items: center;
}

.black_banner_content,
.black_banner_img{
    width: 45%;
}

.black_banner_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-left: 150px;
}

.banner_button{
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.offer_brush_img{
    width: var(--brush_img_size);
}

.offer_brush_img{  
    border: none;
}

.black_banner_text{
    text-align: start;
    width: 80%;
    color: var(--white-text);
    font-size: 80px;
}

.price{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 20%;
    bottom: 30%;
}

/*----------------*/

.black_banner img{
   width: 100%; 
}



/* white banner */
.white_banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.burger_vertical,
.natural_text{
    display: flex;
    width: 40%;
    margin-top: var(--margin-top-banner);
}

/*----------------*/

.natural_text{
    flex-direction: column;
    align-items: center;
}

.image_natural img{
    width: var(--brush_img_size);
}

.natural_content{
    height: 70%;
    align-items: center;
}

.natural_content h2{
    font-size: 60px;
}

.natural_content ul li{
    margin: 20px 0;
}

/* -------- GALLERY -------- */

.gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: var(--margin-top-banner);
}

.gallery img{
    width: 30%;
    border-radius: 15px;
}

/* -------- MENU PRODUCTS -------- */

.menu_products > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-top-banner);
}

.menu_img img{
    width: var(--brush_img_size);
}

/*----------------*/

.menu_option{
    width: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product{
    width: 30%;
}

.product > div > img{
    width: 80%;
    border-radius: 15px;
}

.product > div:nth-child(2){
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.product > div:nth-child(2) > p{
    color: red;
    font-weight: bold;
}

/*----------------*/

.menu_button{
    margin-top: var(--margin-top-banner);
}

/* -------- TESTIMONIAL -------- */

.testimonial{
    display: flex;
    width: 100%;
    margin-top: var(--margin-top-banner);
}

.testimonial div{
    width: 50%;
}

.testimonial div:first-child{
    padding: 80px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
}

.testimonial div:last-child img{
    width: 100%;
    height: 100%;
}

/* -------- FOLLOW US -------- */

.followUs > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-top-banner);
}

.followUs img{
    width: var(--brush_img_size);
}

.photos_insta{
    width: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.photos_insta div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 30px;
}

.photos_insta div img{
    width: 80%;
    border-radius: 15px;
}

/* -------- NEWSLETTER -------- */

.newsletter > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--button-color-salmon);
    padding: 60px 0;
}

.newsletter_text,
.email_box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newsletter_text{
    flex-direction: column;
    justify-content: start;
}

.email_box > div{
    width: 50%;
}

.email_box > div > button{
    background-color: var(--button-color-yellow);
}

.email_box > div > button:hover{
    color: var(--button-color-salmon);
}

.email_box > div:first-child > input{
    height: 50px;
    width: 70%;
}

/* -------- MAP -------- */

.map{
    width: 100%;
    height: 400px;
}

.map > iframe{
    width: 100%;
    height: 100%;
}

/* -------- INFO SECTION -------- */

.info_section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--grey-text);
}

.info_section h2{
    color: var(--white-text);
}

.info_section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 250px;
    margin: 50px 0;
}

.info_section > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_section > div:first-child > img{
    width: 150px;
    height: 150px;
}

.info_section > div:first-child > p{
    margin: 0;
}

.info_section > div > h2{
    align-self: flex-start;
}

.info_section > div > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.info_section > div > div img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.info_section div:last-child p{
    margin: 0;
    align-self: flex-start;
}

/* -------- FOOTER -------- */

footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: var(--grey-text);
    justify-content: space-evenly;
    padding: 20px 0;
}

footer h2{
    color: var(--white-text);
}

footer div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 84%;
    align-items: flex-end;
}

footer div:first-child > div{
    width: 33%;
    margin-left: 50px;
}

footer div:first-child > div:nth-child(3) > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

footer div:first-child > div:nth-child(2){
    justify-content: center;
}

footer div:first-child > div:nth-child(3) > ul li{
    margin: 0 10px;
}

footer div:first-child > div:nth-child(3) > ul li a{
    color: var(--grey-text);
    text-decoration: none;
}

footer div:first-child > div:nth-child(3) > ul li a:hover{
    color: var(--white-text);
}

footer div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 10%;
}

footer div:last-child > img{
    width: 20px;
    height: 20px;
    margin: 20px 0;
}