body{
    background-color: beige;
    text-align: center;
}

h1{
    color:black;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 2.5s;
}

h1#titulo2{
    color: blue;
}

h1:hover{
    transform: scale(1.2);
}

.subtitulo_class{
    background-color: blanchedalmond;
}

#subtitulo2 {
    color: blueviolet;
}

p{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}