body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel{
    width: 1000px;
    height: 700px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.container{
    width: 500px;
    height: 200px;
    margin: auto auto;
    background-color: lightgrey;
    
}